* {
    margin: 0;
    color: rgb(255, 255, 255);
}

body {
    background-image: url(../img/background.jpg);
}



.header {
    margin: 2rem 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 69rem;
    /* min-width: 69rem; */
}

.header__allManu {
    display: flex;
    align-items: center;
    padding-left: 0px;
    min-width: 500.594px;
}

.header__elemMenu {
    padding: 11px 11px;
    list-style: none;
    background-color: #2020207c;
    border: 1px dotted rgba(255, 255, 255, 0.37);
}

.header__logo {
    min-width: 259.813px;
}




.slider {
    display: flex;
    justify-content: center;
    padding-top: 8rem;

}





.ourWork {
    margin: 5rem 0;
}

.ourWork__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.ourWork__allLinks {
    display: flex;
}

.ourWork__text {
    text-align: center;
}

.ourWork__picture {
    width: 15rem;  
}

.ourWork__allArticles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ourWork__picture-Text {
    margin: 0.5rem;
    border: 1px dotted rgba(255, 255, 255, 0.37);
    padding: 0.5rem 0.5rem;
    background-color: #2020207c;
}

.ourWork__head, .services__h2, .aboutUs__h2, .contactUs__h2 {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.37);
}

.ourWork__h2, .ourWork__allLinks, .ourWork__link {
    margin: 0;
}

.ourWork__elemMenu-link {
    padding-bottom: 0;
}

.ourWork__switches {
    display: flex;
    justify-content: center;
}

.ourWork__switch {
    width: 10px;
    height: 10px;
    background: #c7ff66;
    margin: 5px;
}




.services__article, .aboutUs__article {
    width: 22%;
}

.services__picture, .aboutUs__picture {
    width: 100%;
    padding: 0.3rem;
    border: 0.5px dotted rgba(255, 255, 255, 0.37);
    background-color: #2020207c;  
}

.services__allArticles, .aboutUs__allArticles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.aboutUs, .contactUs {
    padding-top: 4rem;
}


.aboutUs__article, .services__article {
    min-width: 244.188px;
}


.aboutUs__links {
    display: flex;
}





.contactUs__allArticles {
    display: flex;
}

.contactUs__form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

label {
    display: flex;
    flex-direction: column;
}

.contactUs__form_name-email {
    display: flex;
}

.contactUs__block-form, .contactUs__form_name-email label, .contactUs__info {
    width: 50%;
}

.contactUs__info-picture {
    width: 100%;
}

input[type="button"] {
    background: #c7ff66;
    color: black;
    width: 20%;
}


textarea {
    color: black;
    width: 100%;
    resize: none;
}




.footer {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.37);
    border-top: 1px dotted rgba(255, 255, 255, 0.37);
    margin-top: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    height: 60px;
}

.footer_text {
    margin: 0;
}

.footer__section-icons {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

svg {
    width: 46px;
    height: 16px;
}