.header {
    margin: 2rem 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    min-width: 320px;
    height: 80px;
    z-index: 99;
}

.header__logo-link {
    width: 260px;
}

.header__allMenu {
    display: flex;
    width: 570px;
}

.header__elemMenu {
    /* padding: 11px 11px; */
    list-style: none;
    /* background-color: #2020207c;
    border: 1px dotted rgba(255, 255, 255, 0.37); */
}


.header__elemMenu-link {
    font-family: 'Appetite-Italic';
    color: white;
    font-size: 1.2rem;
    background: blueviolet;
    padding: 11px 11px;
    background-color: #2020207c;
    border: 1px dotted rgba(255, 255, 255, 0.37);
}

.header__elemMenu-link:hover {
    text-decoration: none;
    color: #c7ff66;
}

.header__logo-link:hover {
    text-decoration: none;
}

.header__logo-link p {
	margin: 0;
	font-size: 0.7rem;
}



.header__button {
    font-family: 'Appetite-Italic';
    width: 70px;
    height: 40px;
    color: black;
    background: #c7ff66;
}

.header__menu_nav, .header__logo {
    height: 81px;
}

.header__menu_scroll {
    background-color: #212529b8;
    border-radius: 20px;
    display: flex;
    height: 80px;
    z-index: 99;
}





.header__displayMenu {
    width: 12rem;
    background: bisque;
    height: 23rem;
    background-color: #202020c7;
    border-radius: 15px;
    border: 2px solid white;
    /* display: flex;
    flex-direction: column;
    align-items: flex-end; */
}

.header__allManu-display {
    padding: 0;
    height: 20rem;
    width: 100%;
}

.header__elemMenu-display {
    list-style: none;
    height: 20%;
    width: 100%;
}

.header__button {
    border-radius: 15px;
    border: 2px solid white;
    margin-left: auto;
}

.header__elemMenu-link-display {
    font-family: 'Appetite-Italic';
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__elemMenu-link-display:hover {
    text-decoration: none;
    color: black;
    border-radius: 15px;
    border: 2px solid white;
    background-color: #c7ff667c;
}




.header__menu-block {
    display: block;
}

.header__menu-none {
    display: none;
}

.header__menu-flex {
    display: flex;
}

.header__logo-h1 {
    width: 200px;
    font-size: 30px;
}




/* .header__menu_ul {
    width: 100%;
} */

.header__elemMenu:hover {
    background-color: #c7ff66;
    transition: background linear 250ms;
}

