/* настраиваем картинку под меню */
.autumnBackground img {
    width: 100%;
    margin-top: 130px;
}


.square {
    height: 30rem;
    background: #212529;
    margin-top: 5rem;
    border: 1px solid #c7ff66;
}

.square__boxForSquare {
    /* width: 1056px; */
    height: 90%;
    background: rgb(182 160 189);
    margin: 25px;
    border: 1px solid #e67fea;
    position: relative;
}

.square__square {
    height: 50px;
    background: #8b2d9c;
    width: 50px;
    position: absolute;
    top: 10px;
    left: 20px;
}